html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}
body {
    font-family: 'Arvo', serif;
}
button {
    cursor: pointer;
    background-color: #e68a00;
    outline: none;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}
#fighterInfoDiv {
    width: 500px;
    height: 150px;
    background-color: #ffccff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0.5px solid black;
}
#instructions {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    z-index: 10;
}
#instructions > img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 25px;
  width: 650px;
  background-color: #f9f9f9;
}
#instructions:hover .content {
    display: block;
}
#fighterInfo {
    font-size: 25px;
    text-align: center;
}
#fighterInfoDiv {
    height: 200px;
}
#close-button {
    position: absolute;
    top: 0;
    cursor: pointer;
    border: 1px solid black;
}
.chooseFighters {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
    opacity: 0;
    margin-right: 100px;
    text-align: center;
}
.submitFighters {
    cursor: pointer;
    padding: 8px 30px;
    background-color: #e68a00;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    border-radius: 20px;
    margin-top: 10px;
    position: fixed;
    left: 70%;
}
.fighterHealth {
    opacity: 1;
    position: absolute;
    top: 0;
    margin-top: 50px;
    font-size: 25px;
    z-index: 3;
}
.fighterOneHealth {
    left: 33vw;
}
.fighterTwoHealth {
    left: 54vw;
}
.fighterHit {
    position: absolute;
    bottom: 0;
    padding: 20px;
    margin-bottom: 80px;
    font-weight: bold;
    opacity: 0;
}
.fighterOneHit {
    left: 38vw;
}
.fighterTwoHit {
    left: 55vw;
}
.fighterHit {
    position: absolute;
    bottom: 0;
    padding: 20px;
    margin-bottom: 80px;
    font-weight: bold;
    opacity: 0;
}
.button-span {
    font-size: 25px;
    font-weight: bold;
}
#start {
    padding: 10px 20px;
    position: absolute;
    bottom: 50px;
    left: 44.5vw;
    font-weight: bold;
    font-size: 40px;
    border-radius: 30px;
    visibility: hidden;
}
#winnerMessage {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    top: 100px;
    left: 44vw;
    z-index: 3;
}
.name {
    text-align: center;
}
.no-display {
    opacity: 0;
}
.display {
    opacity: 1;
}